#ipla-globe {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

#ipla-globe .relative {
  position: relative;
}

#ipla-globe .aspect-square {
  aspect-ratio: 1 / 1;
}

#ipla-globe .select-none {
  -webkit-user-select: none;
  user-select: none;
}
